body {
    font-family: Axial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #0aabeb;
    font-size: 4.5rem;
}

header {
    background: #6b6a6a;
    color: #f7f7f7;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    list-style: horizontal;
    text-align: center;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20;
    color: rgb(71, 4, 97);
}

nav ul li {
    display: flex;
    margin: 0 15px;
}

nav ul li a {
    padding-top: 5px 8px;
    color: #2b0842;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a :hoover {
    padding: 5px 9px;
}

.hero {
    background: url('https//via.placeholder.com/1500x600') no -repeat center/cover;
    color: #2a37f7;
    padding: 2rem;
    text-align: center
}

.hero-content {
    max-width: 800px;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    background: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 1rem;
}

.tips,
.resoures,
.contact {
    padding: 2rem;
    text-align: center;
}

.tip {
    margin-bottom: 2rem;
    font-size: larger;
}

.resoures ul {
    list-style-type: style;
    display: padding 0;
}

.resoures ul li {
    margin: 1rem 0;
}

.resoures ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.contact form {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.contact form label {
    display: -moz-inline-stack;
    margin: 0.5rem 0.02rem;
}

.contact form input,
.contact form textarea {
    width: 100%;
    padding: 0.5rem margin-botto 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact form button {
    padding: 0.5rem 1rem;
    background: #07d8e7;
    color: #1eace4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background: black;
    color: #6e4c6a;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}